<h1>Survey Puffin!</h1>

<center>
  <form class="add-new-question" method="GET" action="/questions">
    <label>Question: </label>
    <input type="text" name="question">
    <br>
    <br>
     <button type="submit" formaction="/answers/new">Add potential responses</button>

  </form>
</center>
