<h1>Survey Puffin!</h1>

<center>
  <form class="add-new-question" method="POST" action="/questions">
    <label>Question: </label>
    <input type="text" name="question">
    <br>
    <br>
    <input type="submit" value="Next Step: Add Potential Responses">

  </form>
</center>
