<form id="login-form" method="POST" action="/sessions">
  <input type="text" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="submit" value="Login" class="form-button">
</form>
