body {
  margin: 10px;
  background-color: #031e3f;
  background-image: url("../images/bird-puffin-kicking-up-one-leg.jpg");
  color: white;
}

.todos {
  color: green;
  font-style: italic;
}

nav {
  height: 35px;
  width: 100%;
  text-align: right;
  right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
}

.layout-links {
  color: black;
  text-decoration: none;
}

.layout-links:visited {
  color: black;
  text-decoration: none;
}

.delete-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  display: inline;
}

.pretty-button {
  background: #ffa50a;
  background-image: -webkit-linear-gradient(top, #ffa50a, #fccb4e);
  background-image: -moz-linear-gradient(top, #ffa50a, #fccb4e);
  background-image: -ms-linear-gradient(top, #ffa50a, #fccb4e);
  background-image: -o-linear-gradient(top, #ffa50a, #fccb4e);
  background-image: linear-gradient(to bottom, #ffa50a, #fccb4e);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 5px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #f2fa12 5px;
  text-decoration: none;
}

.pretty-button:hover {
  background: #f5c667;
  text-decoration: none;
}

.hidden {
  display: none;
}

a:visited {
  color: white;
}

ul {
  list-style-type: none;
}


#chartContainer {

  height: 300px;
  width: 100%;
}
