body {
  background-color: #031e3f;
  background-image: url("../images/bird-puffin-kicking-up-one-leg.jpg");
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  margin-left: 1cm;
}

h1 {
  font-family: 'Chicle', cursive;
  font-size: 400%;
  color: #D2574A;
  margin-top: 10px;
  margin-bottom: 0;
  text-shadow: 1px 1px orange;
}

h2 {
  font-size: 250%;
  color: #D0584E;
  text-shadow: -2px 2px 2px black;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 150%;
}

.todos {
  color: green;
  font-style: italic;
}

.layout-links {
  color: black;
  text-decoration: none;
  display: inline;
}

.layout-links:visited {
  color: black;
  text-decoration: none;
}

.delete-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
  display: inline;
}

.pretty-button {
  background: #ffa50a;
  background-image: -webkit-linear-gradient(top, #ffa50a, #fccb4e);
  background-image: -moz-linear-gradient(top, #ffa50a, #fccb4e);
  background-image: -ms-linear-gradient(top, #ffa50a, #fccb4e);
  background-image: -o-linear-gradient(top, #ffa50a, #fccb4e);
  background-image: linear-gradient(to bottom, #ffa50a, #fccb4e);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 1px 1px 5px #666666;
  font-family: 'Barlow Condensed', sans-serif;
  color: #ffffff;
  font-size: 16px;
  padding: 4px 8px 4px 8px;
  border: solid #D2574A 4px;
  text-decoration: none;
}

.pretty-button:hover {
  background: #f5c667;
  text-decoration: none;
}

.hidden {
  display: none;
}

a:visited {
  color: white;
}

ul {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  list-style-image: url('../images/cropuffin.png');
}

#chartContainer {
  height: 300px;
  width: 100%;
}

.surveys-container {
  border: 5px solid #D2574A;
  width: 300px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 50px;
  background-color: rgba(198, 189, 186, 0.9);
}

.current-survey {
  border: 5px solid #D2574A;
  width: 350px;
  height: 450px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 50px;
  background-color: rgba(198, 189, 186, 0.9);
  color: black;
  padding-left: 50px;
  padding-right: 10px;

}

.survey-title {
  font-size: 150%;
  font-weight: bold;
}

.creator-info {
  font-style: italic;
}

.dynamic-div {
  width: 500px;
  float: left;
}

nav {
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0 auto;
  width: 150px;
  height: 800px;
  float: right;
  background-color: #D0584E;
  display: block;
  position: fixed;
}

input {
  color: black;
}


