<form id="registration" action="/users" method="post" class="register">
  <input type="text" name="user[username]" placeholder="Username" />
  <input type="text" name="user[email]" placeholder="E-mail" />
  <input type="password" name="user[password]" placeholder="Password"/>
  <input type="submit" value="Register" class="form-button" />
</form>

<p>Already a user?  Log in <a href="/users/new">here!</p>
