<form id="registration" class="hidden" action="/users" method="post" class="register">
  <input type="text" name="user[username]" placeholder="Username" />
  <input type="text" name="user[email]" placeholder="E-mail" />
  <input type="password" name="user[password]" placeholder="Password"/>
  <input type="submit" value="Register" class="pretty-button" />
</form>

<p class="login-prompt hidden">Already a user?  Log in <a id="dropdown-login-link" href="/sessions/new">here!</a></p>
