<form method="post" action="/users">
  <input name="user[username]" type="text" placeholder="Username">
  <input name="user[email]" type="text" placeholder="Email">
  <input name="user[password]" type="password" placeholder="Password">
  <input type="submit" value="Register">
</form>
