<% @question.answers.each do |answer| %>
  <%= answer.text %>
<% end %>
<form class="add-new-answer" action="/surveys/<%= @survey.id %>/questions/<%= @question.id %>/answers" method="post">
  <label>Potential Response: </label>
  <input type="text" name="answer[text]" placeholder="Enter Potential Response Here" size="100">
  <button type="submit">Add response</button>
</form>
