<div id='answers-form-container'>
  <%= erb :'/surveys/_survey_btns' %>
  <% @question.answers.each do |answer| %>
    <%= answer.text %>
  <% end %>
  <form id="add-new-answer" action="/surveys/<%= @survey.id %>/questions/<%= @question.id %>/answers" method="post">
    <label>Potential Response: </label>
    <input type="text" name="answer[text]" placeholder="Enter Potential Response Here" size="100">
    <button class="add-answer-btn" type="submit">Add response</button>
  </form>
</div>
