<h1>Survey Puffin!</h1>

<%= erb :"/answers/_form" %>

<button><a id="new-question-btn" href="/surveys/<%= @survey.id %>/questions/new">Add next Question</a></button>
<button><a href="/surveys/<%= @survey.id %>">View Your Survey</a></button>
