<h1>Survey Puffin!</h1>

<form class="add-new-answer" action="/answers" method="GET">
  <label>Potential Response: </label>
  <input type="text" name="answer" placeholder="Enter Potential Response Here" size="100">
  <br>
  <br>
  <label>Potential Response: </label>
   <input type="text" name="answer" placeholder="Enter Potential Response Here" size="100">
  <br>
  <br>


  <button type="submit" formaction="/answers/new">Add additional response</button>
  <button type="" formaction="/questions/new">Add new Question</button>
  <button type="/surveys" formaction="">Post Your Survey</button>

</form>
