<div id='survey-nav-btns' class='hidden'>
  <button><a id="new-question-btn" href="/surveys/<%= @survey.id %>/questions/new">Add next Question</a></button>
  <button><a href="/surveys/<%= @survey.id %>">View Your Survey</a></button>
</div>
