<button><a id='new-quest-btn' class='btn-link' href="/surveys/<%= @survey.id %>/questions/new">Add Question</a></button>

<button><a id='done-survey-btn' class='btn-link' href="/surveys/<%= @survey.id %>">Complete Your Survey</a></button>
