<h2>Take a survey!</h2>

<% if logged_in? %>
  <form class="new-survey" action="/surveys/new">
    <input class="pretty-button" type="submit" value="Create New Survey">
  </form>
<% end %>



<div class="surveys-container">
  <ul>
    <% @surveys.each do |survey| %>
      <li class="survey-title"><a class="js--survey" href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
      <p class="creator-info">by <%= survey.creator.username %> </p>
    <% end %>
  </ul>
</div>

<% if logged_in? %>
  <form class="new-survey" action="/surveys/new" method="post">
    <input class="pretty-button new-survey-button" type="submit" value="Create New Survey">
  </form>
<% end %>


