<h2>Take a survey!</h2>
<% if logged_in? %>
  <form class="new-survey" action="/surveys/new" method="post">
    <input type="submit" value="Create New Survey">
  </form>
<% end %>

<div class="surveys-container">
  <ul>
    <% @surveys.each do |survey| %>
      <li><a class="js--survey" href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
      <li>Created by: <%= survey.creator.username %> </li>
    <% end %>
  </ul>
</div>



