<div id='survey-form-container'>
  <center>
    <img src="/images/create.jpg" alt="create">
    <form id="survey-title-form" class="create-new-survey" action="/surveys" method="POST" id="new-survey-form">
  <br>
      <label>Title: </label>
      <input type="text" name="survey[title]" size="60">
      <input id="add-survey-btn" class="pretty-button" type="submit" value="Add Survey Title">
    </form>
  </center>
</div>
