<h1>Survey Puffin!</h1>

<center>
  <form class="create-new-survey" action="/surveys" method="POST" id="new-survey-form">
<img src="/images/create.jpg" alt="create">
<br>
    <label>Title: </label>
    <input type="text" name="title" placeholder="Title of Survey" size="60">
    <input type="submit" value="Next Step: Add Questions">
  </form>
</center>
